
*.py linguist-detectable=true

*.md linguist-detectable=false
*.txt linguist-detectable=false

docs/* linguist-detectable=false
assets/* linguist-detectable=false
images/* linguist-detectable=false
certs/* linguist-detectable=false